[2018-12-18 17:41] shep1987 opened #2 "Incorrect parameters in bitvise-ssh-server"
While trying to install bitvise during a packer install I was attempting to set the certificates during install but found the option was not available.

Version 8.19 of Bitvise Server has the following output when you run `BvSshServer-Inst.exe -?`
[code]

Looking at the install script it appears
`siteTypeSettings` => `instanceTypeSettings`
and `certificates` is new

[2018-12-18 18:16] #2 closed

[2019-01-04 07:46] ViceIce opened #4 "(exiftool) Should not have a dependency to nsis.install"
The new [package](https://chocolatey.org/packages/exiftool) has a dependency to `nsis.install`, this should be removed.

Regards
Michael

[2019-01-04 12:18] mkevenaar commented on #4
Fixed in 187b811
Waiting for maintainers to approve package

[2019-01-07 09:36] mkevenaar commented on #4
The new version of this package is approved

[2019-01-07 09:36] #4 closed

[2019-01-16 14:58] jupsoleil opened #5 "pycharm-community doesn't remove older versions when upgrading"
Hi, it seems this package, when upgrading, doesn't remove older versions, so at present I already have three versions installed on my PC :-). I think this is unintended, and should be corrected, no?
I presently have versions 2018.3.1 x64, 2018.3.2 x64, 2018.3.3 x64 installed, just by issuing "choco upgrade all -y" on a regular base.

Thanks for looking into this!!

[2019-01-27 12:45] mkevenaar commented on #5
@jupsoleil Can you provide me with the version of chocolatey that you are using?

`choco --version` should provide you with the required information

[2019-01-27 12:54] mkevenaar commented on #5
Ah :) I think I figured it out, https://github.com/mkevenaar/chocolatey-packages/blob/master/automatic/pycharm-community/tools/chocolateyBeforeModify.ps1#L20 shows that if you have more than 1 version available, the uninstallation stops.

@jupsoleil could you please uninstall the older versions of pycharm-community using the control panel? Then it should work.

[2019-01-27 12:57] #5 closed

[2019-01-27 18:20] mkevenaar opened #7 "(maint) Investigate if software can be embedded"
Investigate for all packages if the software can be embedded. Especially from SF.

[2019-01-27 18:20] mkevenaar commented on #7
- win32diskimager 👍

[2019-02-08 15:14] mkevenaar opened #10 "Remove chocolateyInstall.ps1 for all virtual packages"
* mongodb
* win32diskimager

and more

[2019-02-08 19:16] #10 closed

[2019-03-08 15:19] Stahlreck opened #12 "MariaDB chocolatey install fails. URL doesn't exist or is unauthorized or forbidden."
Hey @mkevenaar ,

You asked me on Disqus to create an issue if the problem persists. I hope I got it right with the debug logging. Tried to install MariaDB again with PowerShell and CMD both in Admin mode, but the installation just doesn't want to get through. It says the URL can't be reached even though when I copy it to the browser there is no problem downloading the MariaDB.exe

Anyway, here's

[2019-03-08 15:34] mkevenaar commented on #12
Hi @Stahlreck Thanks for opening this. This is part of the improvement of #7

I am going to embed the MariaDB software, as it is allowed and that should resolve the 404 that you are having.

This will take a couple of days before this is approved.

[2019-03-08 15:36] Stahlreck commented on #12
Sure take your time. Tanks for the effort :)

[2019-03-08 17:06] #12 closed

[2019-03-29 12:04] mkevenaar opened #15 "(firefox-nightly) AU script does not update anymore."

[2019-03-29 23:56] gpotter2 opened #16 "(wireshark) install fails on AppVeyor since 3.0"
## Current Behavior
We’re seeing general failures on our AppVeyor tests that used to perform `choco install wireshark` successfully. This only happens since 3.0 and seems to be related to the new dependency « vcredist140 »

Here are the logs of one of the failing tests (please ignore the top error, unrelated): https://ci.appveyor.com/api/buildjobs/collw9fshr6cmlo8/log

## Context
An automated test

[2019-03-30 08:52] mkevenaar commented on #16
Hi, thanks for contacting me,

I needed to add the vcredist140 as a dependancy to get the installation working. As @AdmiringWorm already suggested on gitter, try to installde KB dependencies without executing them

`choco install -n KB3033929 KB2919355 kb2999226`

If there are any more failing packages, add them to the list.

Hope this helps,

Maurice

[2019-03-30 09:17] mkevenaar commented on #16
I noticed that one package id is invalid, could you try to build with this list?

[2019-03-30 11:12] gpotter2 commented on #16
It seems that this did the trick 😄 thanks
https://ci.appveyor.com/api/buildjobs/s3lnh52tmis60g15/log
I’ll just make sure everything works as expected and close this issue.

[2019-03-30 11:25] gpotter2 commented on #16
Thanks again for your support,
Good day

[2019-03-30 21:34] mkevenaar commented on #16
@gpotter2 if I am allowed to make an suggestion and if you have time, could you try and figure out wich KB package is causing this and create an issue on that repo? Perhaps we can improve that package to get it working without this workaround...

[2019-03-30 22:28] gpotter2 commented on #16
Not sure exactly how to do that. So far:
- Only using the above on `KB3033929`: https://ci.appveyor.com/project/secdev/scapy/builds/23480566/job/765o0i8m7dw9trye (failed)
- Only using the above on `KB2919355`: https://ci.appveyor.com/project/secdev/scapy/builds/23480582/job/vb1mhtq3602u6law (failed)
- Only using the above on `kb2999226`: https://ci.appveyor.com/project/secdev/scapy/builds/23480606

[2019-04-01 13:33] mkevenaar commented on #16
@gpotter2 I think all tree packages do not work on the AppVeyor environment. I would like to suggest to go to the package page and open an issue there.

Hope that helps!

[2019-04-01 13:33] #16 closed

[2019-04-01 13:41] AdmiringWorm commented on #16
I've done some digging around, and believe I've found the reason those packages don't work on appveyor.

A required service is disabled on appveyor (the windows update service), and because it's disabled no updates can be installed (nor can the packages detect if they are already installed).

All three packages depend on an extension to make the installation of updates simpler, the author of that

[2019-04-01 14:22] gpotter2 commented on #16
Thanks for your explanation.

Apparently, there is a trick to restart this service: https://github.com/cocur/slugify/pull/193. I guess I’ll use it in our tests :-) Don’t know if it could be included at some point, or if It should be reported to AppVeyor

[2019-04-09 20:01] Foadsf opened #18 "SimilIDE Qt problem"
## Expected Behavior
As reported [here](https://github.com/chocolatey/chocolatey-package-requests/issues/540#issuecomment-481411434) i tried installing the app through choco:

[code]

## Current Behavior
 and I get the error message:

## Possible Solution

¯\\\_(ツ)\_/¯

## Steps to Reproduce (for bugs)

1. running simulide through the terminal
2. running the app through apps

## Context

🤔

## You

[2019-04-09 20:12] mkevenaar commented on #18
@Foadsf Would you be able to update the issue with the template I have created?

[2019-04-10 06:49] mkevenaar commented on #18
@Foadsf Could you try and start the software from `%CHOCOLATEYINSTALL%\lib\simulide\tools\SimulIDE_0.3.10_SR1-Win32\bin\simulide.exe`?

You can paste this in run or in explorer.

[2019-04-10 08:09] Foadsf commented on #18
@mkevenaar Running the exe file worked. Thanks. However there is a `C:\ProgramData\chocolatey\bin\simulide.exe` which system refers to as the executable leading to this problem.

[2019-04-11 13:29] mkevenaar commented on #18
@Foadsf Ah, so it's the shimgen file that is causing this.

I will add an ignore file to not create it then.

[2019-04-12 07:17] #15 closed

[2019-04-12 07:41] #18 closed

[2019-04-12 08:52] mkevenaar commented on #18
@Foadsf A new version is pushed to the Chocolatey.org. The software will not be in the path, as it does not work at this moment.

Maurice

[2019-05-27 11:29] ShortArrow opened #19 "mongodb is not added it to env:path"
## Expected Behavior
Add mongo to env:Path
Note : [about_environment_variables](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_environment_variables?view=powershell-6)

## Current Behavior
Non Action

## Possible Solution
Either of the following
*  Add "%ProgramFiles%\MongoDB\Server\4.0\bin" to env:Path
*  Add mongo.exe and mongod.exe and mongos.exe to "%A

[2019-05-27 20:38] mkevenaar commented on #19
Hi, thank you for creating this issue. I was expecting the installer to add things to the path, but it seems it does not do that.

I’ll take a look at it soon.

[2019-05-27 20:39] mkevenaar opened #20 "(winrar) allow to work when there are no checksums available."
Currently WinRAR does not release all the translations in one go. Due to this, a lot of the translations are not available in the initial push.

[2019-06-10 19:11] mkevenaar opened #21 "(Azure Storage Emulator) New package"
Just a new package by request of @gep13

https://azure.microsoft.com/en-gb/downloads/

[2019-07-08 15:21] dfranciscus opened #23 "(icloud) choco upgrade icloud failing"
## Expected Behavior
icloud should install even if a previous version is installed.

## Current Behavior
Fails because bonjour is already installed.

## Possible Solution
Unsure

## Steps to Reproduce (for bugs)

1. install previous version of icloud
2. choco upgrade icloud

## Context

## Your Environment

* Package Version used:
* Operating System and version: Windows 10 1903
* Chocolatey versio

[2019-07-08 15:31] mkevenaar commented on #23
Hi,

thank you for creating this issue.

[2019-07-16 00:40] BourgonLaurent opened #24 "(firefox-nightly) is broken"
## Expected Behavior

Mozilla only gives one locale for [Firefox Nightly](https://github.com/mkevenaar/chocolatey-packages/tree/master/automatic/firefox-nightly): `en-US`. So the package should download the file `firefox-70.0a1.en-US.win64.installer.exe` and not `firefox-70.0a1.fr.win64.installer.exe`.

## Current Behavior

The package tries to download a version with another locale (and this vers

[2019-07-16 14:39] mkevenaar commented on #24
Hi,

thanks for this issue. It seems that they changed the folder structure once again :(

I'll look into fixing this.

[2019-07-21 19:24] crkinard commented on #23
Not sure if my issue is the same as this one.

When installing the Bonjour64.msi errors out if Bonjour is already installed.
[iCloud_msi_install.log](https://github.com/mkevenaar/chocolatey-packages/files/3414963/iCloud_msi_install.log)
[chocolatey.log](https://github.com/mkevenaar/chocolatey-packages/files/3414964/chocolatey.log)

[2019-07-21 21:47] dfranciscus commented on #23
Yep that’s mine too.

[2019-07-22 01:20] crkinard commented on #23
Uninstall Bonjour from Programs and Features in the Control Panel then rerun "choco install icloud" and it installs with no issues.

Well it throws a 3010 exit code but thats just saying you need to reboot the computer.

[2019-07-22 01:36] crkinard commented on #23
Actually I just noticed something. I dont think Apple is updating the installer gotten from the website anymore. It seems like the only way to get the current version (10.4.0.203) is from the Microsoft store.

Because of this not sure if fixing this issue is even needed.

[2019-07-22 07:09] mkevenaar commented on #23
As far as I can see, both versions should be the same. Could I ask you where you found that version number?

[2019-07-22 15:54] crkinard commented on #23
After installing the version from the Microsoft Store should be able to get to an about box from the sign in window. I can post screenshots when I get home (didn't bring laptop to work).

[2019-07-22 20:19] mkevenaar opened #25 "(pulumi) improve package"
https://twitter.com/gep13/status/1153327386785648641

[2019-08-06 13:50] Spinarooni opened #26 "0.3.2142.0 microsoft-windows-terminal - Fails To Install"
## Expected Behavior
Install should be successful.

## Current Behavior
Install fails with a missing dependency error:

[code]

## Possible Solution
Tried installing the VC++ Redist Update 3 for 2015: https://www.microsoft.com/en-us/download/details.aspx?id=53587.  The version installed by this update was not high enough as apparently the dependency needed must be 14.0.27323.0 or higher.  I have n

[2019-08-06 14:22] mkevenaar commented on #26
@Spinarooni Thanks for creating this issue, I already added the dependency here: https://github.com/mkevenaar/chocolatey-packages/commit/6a55e0b198eb1e97c88309b0632c401606a71fa6

[2019-08-06 14:22] #26 closed

[2019-08-06 14:22] mkevenaar commented on #26
The next version will include the dependency.

[2019-08-06 14:39] Spinarooni commented on #26
@majkinetor As an FYI, I already had that vcredist140 package installed and it still failed with a missing dependency error when I tried to install the microsoft-windows-terminal package.

![image](https://user-images.githubusercontent.com/331866/62549350-51b3e680-b836-11e9-8dae-a736d16ce892.png)

Not sure if I missed something.

[2019-08-07 07:00] mkevenaar commented on #26
@Spinarooni Have you tried restarting your computer? (and I think you mis-tagged me)

[2019-08-07 14:35] Spinarooni commented on #26
@mkevenaar I tried removing the vcredist140 package and reinstalling it then rebooting.  Rebooted and tried to install the microsoft-windows-terminal package and it failed again:

[code]

[2019-08-11 08:51] mkevenaar opened #27 "(appveyor-server) Update documentation"
As requested in https://github.com/appveyor/website/pull/645 I have created this issue to update the documentation and title for `appveyor-server`

[2019-08-11 08:56] mkevenaar commented on #27
Change is committed.

[2019-08-11 08:56] #27 closed

[2019-08-15 15:05] mkevenaar commented on #24
Stil relevant.

[2019-08-16 12:12] T1mL3arn opened #28 "(sqlitebrowser.install) lacks of Start Menu shortcut"
## Expected Behavior

Start Menu shortcut can be found in Start Menu after installation.

## Current Behavior

There is no shortcut to [_DB browser for SQLite_](https://github.com/mkevenaar/chocolatey-packages/tree/master/automatic/sqlitebrowser.install) in startup menu. It is needed to locate the program on disk and create shortcut manually and place it to Start Menu.

## Possible Solution

[Crea

[2019-08-21 19:59] mkevenaar commented on #23
I have added exit code 1603 to the allowed exit code. This is not ideal but until I find an solution to detect the version of one part of the software and the version inside the MSI, I need to go this way.

[2019-08-22 07:18] gep13 commented on #25
@mkevenaar I have followed up again here:

https://twitter.com/gep13/status/1164436446851342336

Hopefully we can get a response, and get this package approved soon.

[2019-09-01 14:41] SeanKilleen opened #29 "Thanks!"
Just wanted to say thanks for maintaining these packages. In particular, `microsoft-windows-terminal` is one I'd encouraged them to create but hadn't gotten around to doing and I greatly appreciate you making it available!

(feel free to close anytime; wanted to ensure my thanks made it to you.)

[2019-09-01 15:02] mkevenaar commented on #29
You are very welcome!

[2019-09-01 15:02] #29 closed

[2019-09-14 15:52] mkevenaar commented on #24
I know

[2019-09-16 09:37] mkevenaar commented on #25
Package released.

[2019-09-16 09:37] #25 closed

[2019-09-17 00:07] grnassar opened #30 "(lastpass) SHA-256 checksum incorrect"
For some reason, the chocolateyInstall.ps1 file seems to have the SHA-256 hash of LastPass (x64) 4.1.57:
9427DCC285BF574C7AAB03E998E7C2062F0A3E62619048062BF956EBCF1B48FA
rather than the hash of version 4.33: (would appreciate third-party confirmation, of course!)
2401C795E7584C3A185E221CBA77DBB422A82AA4CE97936534066F5EE9C79005

This causes installs/updates to fail, of course, unless ignore-checksu

[2019-09-17 08:52] hobgoblinsmaster opened #31 "(Wireshark) allow installation of plugins"
Wireshark package lacks ability to install additional plugins like ciscodump / randpkt / sshdump

## Expected Behavior
ciscodump, randpkt, sshdump should be installed or we should be able to select them on install

## Current Behavior
Those plugins are not installed.

## Possible Solution
 - Install them by default
 - Allow to select them on install
 - Make separate packages if not possible nor si

[2019-09-17 09:13] mkevenaar commented on #31
@hobgoblinsmaster thanks for creating this issue.

[2019-09-17 09:22] mkevenaar commented on #30
Hi @grnassar I have kicked the build to upload the lastpass package again. This should be available soon.

Please let me know if this works for you.

[2019-09-17 13:56] hobgoblinsmaster commented on #31
I tested to copy all .exe files from the upstream install package (Wireshark-win64-3.0.4.exe), they seams to work as expected (tested randpktdump and sshdump). If it can help…

[2019-09-25 14:03] cprivite commented on #30
This has reoccurred. Now the hash should be Is broke again as of 9/25/19. SHA hash doesn't match the actual download.

[2019-09-25 15:18] cprivite opened #32 "(Lastpass) Not actually installing lastpass"
## Expected Behavior
Lastpass gets installed.

## Current Behavior
Lastpass doesn't get installed.

## Possible Solution
Can you at least verify it works on your machine?

## Steps to Reproduce (for bugs)
1) Remove lastpass from all browsers, choco, and add/remove programs
2) Reboot
3) Install lastpass via chocolatey (choco install lastpass --ignore-checksum)
4) Open browsers and see there's no la

[2019-10-01 06:41] sd3z opened #33 "SQL2014.ClrTypes hash failures"
The https://chocolatey.org/packages/SQL2014.ClrTypes package SHA256 is failing has match

## Expected Behavior
`choco install sql2014.clrtypes -y  should work with no errors`

## Current Behavior
Error message received
'C:\Users\Administrator\AppData\Local\Temp\chocolatey\SQL2014.ClrTypes\12.1.4100.1\SQLSysClrTypes.msi' did not meet 'D264B0B4D8E503C2638C18F09FF74F895DA92A9984D2B7C5D6192A6A22FA3C41

[2019-10-01 07:43] mkevenaar commented on #33
Thanks for reporting this, this should be fixed here: https://github.com/mkevenaar/chocolatey-packages/commit/b734cd629a6f5a886b7df90b9eab490ca443057c

A new package will be pushed soon.

[2019-10-01 07:43] #33 closed

[2019-10-03 09:40] mkevenaar commented on #30
@cprivite I have just pushed a new version of the package. Should be correct now.

[2019-10-03 09:40] #30 closed

[2019-10-03 09:42] mkevenaar commented on #32
@cprivite I don't think this installs lastpass in your browser. There are separate packages for that.
See https://chocolatey.org/packages?q=tag%3Alastpass

[2019-10-03 13:18] cprivite commented on #32
I must admit, I'm extremely confused by your response. That's literally all lastpass is, a browser plugin. Look at the silent install arguments if you don't believe me: "'-si --userinstallie --userinstallff --userinstallchrome'" It's literally stating the browsers to install the plugin into. I'm sorry, but do you actually use lastpass?

[2019-10-03 13:20] mkevenaar commented on #32
Sorry you are correct :) I have reopened the issue again.

I am currently not using lastpass. Could you share what browsers you have tested this with?

[2019-10-03 13:22] cprivite commented on #32
That said, it's possible this is an issue on lastpass's side. They have had a very bad track record lately.

I've tested this with chrome and firefox, but I have not tested with the new version you updated the checksum for, I will try to do so tonight and get back to you. Thanks for re-opening. Is there a history for this package that I should know before jumping to any conclusions about how it "s

[2019-10-03 13:28] mkevenaar commented on #32
I believe it should work as you have expected it to do. If you don't get it working again, please let me know and I'll try to get it working

[2019-10-11 23:51] TheCakeIsNaOH opened #35 "(Wireshark) do not create shim for installer"
The Wireshark package has a shim made for the installer executable which is not ideal.

## Expected Behavior
That the bin folder is not cluttered with Wireshark installer shims

## Current Behavior
Currently, during the install of the Wireshark package, a shim is created in the chocolatey bin folder for the Wireshark installer executable. Additionally, more shims are created upon upgrade and the p

[2019-10-12 18:46] cprivite commented on #32
I think it's working right now. I'll close for now and reopen a new issue if I see future problems.

[2019-10-12 18:46] #32 closed

[2019-10-14 16:21] mkevenaar commented on #24
Yip

[2019-11-08 15:54] ljferdinand opened #36 "iCloud 10.15 Fails on install"
## Expected Behavior

iCloud Installation complete

## Current Behavior

MSI (s) (84:58) [10:33:18:172]: Product: iCloud -- Error 1722. There is a problem with this Windows Installer package. A program run as part of the setup did not finish as expected. Contact your support personnel or package vendor.  Action RuniCloudUpgrade, location: C:\Program Files (x86)\Common Files\Apple\Internet Services

[2019-11-09 08:27] mkevenaar commented on #36
Could you please share the parts of your chocolatey.log as I can’t reproduce this? Please use a gist for this.

[2019-11-09 16:24] lukehoban opened #37 "Pulumi 1.5.0 and 1.5.1"
The Pulumi package doesn't appear to have been automatically updated for the `1.5.0` or `1.5.1` releases earlier this week.

https://github.com/pulumi/pulumi/blob/master/CHANGELOG.md#151-2019-11-06

[2019-11-10 19:25] mkevenaar commented on #37
It seems that they are not pushing due to https://github.com/chocolatey/chocolatey.org/issues/613

[2019-11-10 22:14] lukehoban commented on #37
Curious - is there anything we can do to manually publish these to workaround the upstream issue?

[2019-11-12 06:08] mkevenaar commented on #37
The packages have been pushed.

[2019-11-12 06:08] #37 closed

[2019-11-15 21:37] #35 closed

[2019-12-16 09:43] #36 closed

[2019-12-29 12:32] davidspiess opened #40 "winrar 5.80 upgrade: package does not support 64 bit architecture"
After upgrading winrar to 5.80 from 5.71 x64, i get the following error
![image](https://user-images.githubusercontent.com/992674/71556965-6ee48e00-2a3f-11ea-9f52-443fc358a9e3.png)

Relevant log section:
[code]

[2019-12-29 13:50] mkevenaar commented on #40
@davidspiess thank you for reporting this.

Would you be able to provide me with the result of this PowerShell command?

`Get-UICulture`

Thanks

[2019-12-30 14:29] giroberto commented on #40
Get-UICulture

LCID             Name             DisplayName
----             ----             -----------
1031             de-DE            Deutsch (Deutschland)

[2019-12-30 18:22] davidspiess commented on #40
Sorry the delayed response. Same as @giroberto

[code]

[2019-12-31 13:27] davidspiess commented on #40
Seems like the translated winrar packages went missing in `downloadInfo.csv `
https://github.com/mkevenaar/chocolatey-packages/commit/1d56d768d53ab7f0594d5b6f989af8d5246bc620#diff-2ab6bdc41441d21ad69a7ee9db917ce1

[2020-01-02 13:52] mkevenaar commented on #40
@davidspiess Thanks, this is due to the fact that WinRAR does not release all translated versions at once. I already have an issue to find a permanent solution: #20

I am building a new version of the package that has a checksum for the German language. Once this is available, you should be able to update to the latest version of WinRAR.

[2020-01-02 14:10] #40 closed

[2020-01-03 10:56] mkevenaar opened #41 "Markdown changes"
related to https://github.com/chocolatey/package-validator/issues/194

All README files should be validated on their Markdown.

[2020-01-03 14:54] #41 closed

[2020-01-05 15:33] jpluimers opened #42 "(UltraVNC) Why has the X64 been removed?"
In commit https://github.com/mkevenaar/chocolatey-packages/commit/82e0cb35626e765479b44c75cc6d155bbd5d4836#diff-4 the X64 hash of UltraVNC has been removed.

Why is that?

I just verified the manual downloads from the UltraVNC site with `wget --referer=https://www.uvnc.com/ --mirror` based ones and they indeed match (and of course both files have their own hash):

[code]

[2020-01-05 15:35] mkevenaar commented on #42
Hi @jpluimers
My mistake :) I am currently working on a fix for that.

[2020-01-05 16:00] jpluimers commented on #42
No problem: That's what we are humans for (:

Discuss seems to ping between pending/spam/allow on my account, so I thought posting it here (knowing GitHub is way more predictable in posting issues).

Do you want me to post the https://disqus.com/home/discussion/chocolatey/chocolatey_gallery_ultravnc_11800/#comment-4745913819 on the various 404 URLs as issue here as well?

[2020-01-05 16:02] mkevenaar commented on #42
@jpluimers No I have seen it :) Thanks, I am working on embedding the software in the package. The License is GPL as shown here: https://www.uvnc.com/downloads/ultravnc/128-download-ultravnc-1230.html

[2020-01-05 16:08] jpluimers commented on #42
Great!

I tried searching https://www.google.com/search?q=license+site%3Auvnc.com but could not find one.

So the license URL is now http://www.gnu.org/licenses/gpl.html (:

[2020-01-05 16:16] mkevenaar commented on #42
I am working on getting it embedded. I will get there, but takes a while. Anyway: Bedankt voor de hulp :)

[2020-01-05 16:37] mkevenaar commented on #42
@jpluimers A new version has been pushed with the files embedded into the package:
https://chocolatey.org/packages/ultravnc/1.2300.0.20200105#files

[2020-01-05 16:37] #42 closed

[2020-01-05 18:22] jpluimers commented on #42
Thanks. Works splendid.

[code]

[2020-01-08 14:28] Moerup commented on #19
Any update on this issue?

[2020-03-16 11:39] gep13 opened #46 "(duck) Create Chocolatey Package"
This is a feature request to create a new package for this application:

https://github.com/spectresystems/duck/releases/tag/0.11.0

Which recently changed to having standalone binaries, which makes it easy to package as a Chocolatey Package.

[2020-03-16 11:40] gep13 commented on #46
Looks like there is already a `duck` package out there:

https://chocolatey.org/packages/duck

Not sure what else to call the package.

[2020-03-19 18:04] TraGicCode opened #47 "(mongodb) Remove or allow skipping starting of mongodb database service"
## Expected Behavior

I should be allow to install mongodb import/export tools only, using the msi, without installing the mongodb database that runs as a windows service.  This WOULD work with the following chocolatey puppet code.

[code]

## Current Behavior

The installation of ONLY the import/export tools works with the above code BUT since the chocolateyinstall.ps1 calls Start-Service and Get

[2020-03-24 00:10] flcdrg opened #48 "(nginx) Add parameter to configure service account"
It would be good to be able to install nginx as a Windows Service and run as an account other than SYSTEM

[2020-03-24 01:45] flcdrg opened #49 "(nginx) Install/upgrade to a consistent directory"
As mentioned in package comments for nginx, even when using the `/installLocation` parameter, the actual directory that nginx ends up in changes depending on the version number.. eg. `C:\nginx\nginx-1.17.9`.

I suspect this is caused by the unzipping using the zip filename.

Probably should preserve existing config during an upgrade

[2020-03-24 08:10] mkevenaar commented on #47
Hi @TraGicCode,

I see what you are trying to do here. This package was not designed to only install ImportExportTools.

However, I think this could be implemented. Are you willing to create a PR for this?

[2020-03-24 08:12] mkevenaar commented on #49
Hi @flcdrg, thanks for creating this issue. Are you willing to create a PR for this as well?

[2020-03-24 08:20] flcdrg commented on #49
yeah, I think so.

David

[2020-03-24 08:22] mkevenaar commented on #48
Fixed in #50

[2020-03-24 08:22] #48 closed

[2020-03-24 08:23] mkevenaar commented on #49
@flcdrg Thank you!

[2020-04-01 00:01] felipecassiors commented on #20
Winrar 3.90 x64 PT-BR is available, however the instalation still fails...

https://www.rarlab.com/rar/winrar-x64-590br.exe

[2020-04-01 02:48] TraGicCode commented on #47
Hey @mkevenaar ,

Yea I could give it a shot when I get some spare time.  What do you think would be a good approach for this? Are you aware of any patterns other packages use?

[2020-04-01 06:32] mkevenaar commented on #47
@TraGicCode I would go with package parameters.

By default the end-result should not be changed.
I believe when I started with the package, the MSI would not start the service. I would have expected that from the installation and therefore I added this.

Hope this helps,

Maurice

[2020-04-01 06:43] mkevenaar commented on #20
I have made a change to the helper function that should allow you to install when the checksums are not available in the package. I'll keep this open for a while to monitor

[2020-04-11 05:15] TraGicCode commented on #47
Hey @mkevenaar ,

By Default, using the latest msi for mongodb it ensures the service is started after installation if service installation is selected ( which is the default ).  Therefore the simplistic approach at this point seems to simply remove the powershell code for starting the service.

Can you let me know if you agree with this?  If so i can create a pull request to update the chocolatey

[2020-04-11 09:36] mkevenaar commented on #47
@TraGicCode I agree.

[2020-04-11 11:55] #47 closed

[2020-04-15 19:53] mkevenaar commented on #23
I think this is now solved.

[2020-04-15 19:53] #23 closed

[2020-04-15 19:53] mkevenaar commented on #20
I think this is now solved.

[2020-04-15 19:53] #20 closed

[2020-04-17 07:25] JasonMeudt commented on #49
Any chance this could be implemented before the next release?

[2020-04-18 16:58] Fooughhy opened #52 "(samsung-magician) Wrong checksum for version 6.1.0"
## Expected Behavior

The install should succeed without errors.

## Current Behavior

The installation process throws the following error:

d not meet '9daeed4fdd5b4492442c706ee71d305b00824e716415fb616235e00174403dfd' for checksum type 'sha256'. Consider passi
ng the actual checksums through with --checksum --checksum64 once you validate the checksums are appropriate. A less sec
ure option is to

[2020-04-18 17:39] mkevenaar commented on #52
I think you are hitting their rate limiting mechanism.

See: https://chocolatey.org/packages/samsung-magician#comment-4877039863

If you check the downloaded file, it will probably a couple of bytes.

I can't fix this as I am not allowed to embed the software.

[2020-04-18 17:39] #52 closed

[2020-04-18 18:45] Fooughhy commented on #52
Ok, it's 55kB but I guess the point still stands. Thank you! Will have to wait then I guess...

[2020-05-06 12:24] flcdrg commented on #49
Been looking into this, and it's not as easy as I'd first thought. 7zip (which Chocolatey is using to unzip) doesn't seem to have a native way to extract the nginx-1.7.9 subdirectory from inside the .zip and put just the contents of that that into c:\nginx.

I could just do a recursive move or copy after the unzip has completed. What I'm wondering is how this should work... overwrite everything ex

[2020-05-06 13:47] mkevenaar commented on #49
I think that could work. More/less the same I do for the `mysql` and  `mariadb.portable` packages.

[2020-05-20 23:13] spacedog4 opened #53 "Mysql loses admin access after restarting the computer"
## Bug
After installing mysql, all works fine, but after restarting the computer, I have to manually right click on mysql and give admin access so it doesn't throw me an error saying that the access was denied to root@localhost

## Error
SQLSTATE[HY000] [1045] Access denied for user 'root'@'localhost'

## Possible Solution
Maybe an chmod or chown on the file or something like that should resolve t

[2020-05-22 07:27] mkevenaar commented on #53
Hi @spacedog4,

Can you please fill in the template part of Your Environment? I need this to verify some stuff.

Can you also please add the error message you are getting? That way I can try to detect if it is an issue with the package or something else.

[2020-05-22 23:23] spacedog4 commented on #53
Hi @mkevenaar,

I apologize, i didn't so those fields, I added then, but I don't know gist, it might be some software for linux or mac.

I also added a "Temporary Solution" section where how do I prevent the error temporarly

[2020-06-03 13:50] mkevenaar commented on #53
Hi @spacedog4

By default the package installs without any credentials. I am not updating or changing any credentials. I am currently not able to reproduce this issue.

[2020-06-03 18:05] spacedog4 commented on #53
@mkevenaar this is probably an specific issue related to my computer I realized that sometimes I need to remove the administrator permission, like an update on the exe saying for windows "Hey, this file is here and it exists okay?!?!?!?"

So I'll close this issue, thank you anyway

[2020-06-03 18:05] #53 closed

[2020-06-12 16:01] #49 closed

[2020-06-14 09:16] Schroedingers-Cat opened #54 "(clion-ide) package doesn't upgrade but installs all versions side by side"
## Expected Behavior
A package upgrade should remove the previous version and leave only the current version on the computer.

## Current Behavior
Currently, all versions of a package remain on the computer after an upgrade of the package. This means that users installing clion will end up wasting a lot of hard disk space.

## Possible Solution
A solution would be to remove the currently installed

[2020-06-17 14:04] leonghui commented on #52
Is the package using the correct URL? I couldn't find the link `http://ssd.samsungsemi.com/ecomobile/ssd/update8.do?fname=/Samsung_Magician_Installer.zip` when I navigated to the download page `https://www.samsung.com/semiconductor/minisite/ssd/download/tools/` manually.

Instead, the download page gave a link with an AWS domain (possible geo-located?). I replaced the AWS domain with `www.samsung.

[2020-06-20 09:47] ptanmay143 opened #55 "(microsoft-windows-terminal) Package installs the pre-release version instead of the stable version"
## Expected Behavior
The chocolatey package `microsoft-windows-terminal` should install the latest stable version of the terminal from the releases page. You can see the version v1.1.1671.0 is tagged as pre-release.

## Current Behavior
Currently, it disregards the GitHub releases tag and install the one on the top, no matter if it is the pre-release version or the stable release version.

## Poss

[2020-06-20 09:58] ptanmay143 commented on #55
Moreover, I had the v1.0.1401.0 already installed and then I ran a chocolatey upgrade. This caused the start menu to have two entries for Microsoft Terminal.
![image](https://user-images.githubusercontent.com/39222830/85199010-2335e180-b30a-11ea-807d-79f8376ff4a8.png)
I suspected this was due to the pre-release version (also called as Preview in Windows) having a different Appx package name. So I

[2020-06-20 10:30] ptanmay143 commented on #55
The link (https://api.github.com/repos/microsoft/terminal/releases) provides a JSON output of all the releases (stable and pre-release both). The boolean key `prerelease` determines whether a release is a prelease or stable. To get the direct download link to the `.msixbundle` file of a specific release, one needs to traverse into the `assets` key array and look for the `browser_download_url` key.

[2020-06-26 19:24] mkevenaar commented on #55
Thank you for creating this issue. I will have a look at it soon.

[2020-07-02 09:17] mkevenaar commented on #55
@ptanmay143 I ended up changing the work into a Stream to have a pre-release and a stable stream automatically updating in Chocolatey. They released a pre-release and a stable release at the same time.

You can see my changes in this commit: https://github.com/mkevenaar/chocolatey-packages/commit/8b14c50ef3f06b2a17b68df22af221cccb68fcea

[2020-07-02 13:56] ptanmay143 commented on #55
I tried installing Windows terminal on another system using `choco install -y microsoft-windows-terminal` but this still installed the preview version. How do I specifically install the stable version?

[2020-07-02 14:33] mkevenaar commented on #55
@ptanmay143 They have split the software into two separate parts. Could you run the following in an elevated powershell?

[code]
This will uninstall the package, the two separate packages for Microsoft Windows Terminal and then it should install the latest version of Terminal without a pre-release.

Could you confirm that this is working for you so I can close this case again?

[2020-07-02 15:07] ptanmay143 commented on #55
The output of `choco uninstall microsoft-windows-terminal -n -y`:
[code]
The outputs of `Get-AppxPackage -Name Microsoft.WindowsTerminalPreview | Remove-AppxPackage` and `Get-AppxPackage -Name Microsoft.WindowsTerminal | Remove-AppxPackage` are both blank.
The output of `choco install microsoft-windows-terminal -n -y`:
[code]
So, this still installs the `v1.1.1671.0` which is a pre-release version

[2020-07-02 15:11] mkevenaar commented on #55
@ptanmay143 I have pulled that version just now. Can you run the commands again?

This should result in the installation of v1.0.1811.0 which should be the latest available release as of now.

If you want the latest pre-release you'll need to specifically add `--pre` to the command as shown here:

https://chocolatey.org/packages/microsoft-windows-terminal/1.1.1812.0-beta

[2020-07-02 15:22] ptanmay143 commented on #55
`choco install microsoft-windows-terminal` still installs `v1.1.1671`.

[2020-07-02 19:08] MortenBoysen commented on #55
I also followed these steps:

[code]

And it removed both packages. The last step installed the correct version, but I am also lacking a start menu entry. Hence I cannot start the terminal since I do not know where the binary is.

[2020-07-02 19:45] ptanmay143 commented on #55
In the last command, you specified the `-n` option which skips running the chocoInstall.ps1 script. You could do a `choco install microsoft-windows-terminal --force`. I'll have to check tomorrow if it installs the correct version in my school laptop.

[2020-07-02 21:05] MortenBoysen commented on #55
Cheers! That fixed the issue and everything seems to work as expected now. No preview installed and the correct version of the Windows Terminal is installed (1.0.1811.0)

[2020-07-03 09:55] ptanmay143 commented on #55
I can confirm that this does install the correct version on my school computer as well as my personal computer. I'm closing this issue now. Thanks.

[2020-07-03 09:55] #55 closed

[2020-07-06 13:15] mastacheata opened #57 "(pycharm) Feature-Request: Add EAP versions"
## Expected Behavior

Can you please publish the EAP builds of PyCharm as prerelease versions to chocolatey?

## Current Behavior

Currently only final versions are published to Chocolatey with no way of checking the EAP versions of PyCharm at all.

## Possible Solution

@Spunkie has this set up already for our PHPStorm package (he's building the EAP releases and my repo only takes the final relea

[2020-07-13 14:27] benshep commented on #5
This is still happening for me. Every time Chocolatey installs a new PyCharm version, it leaves the (one) previous version installed. There's no particular indication from the log file that I can see. Here's the relevant section:

[code]

[2020-07-14 21:12] Schroedingers-Cat commented on #54
Maintainer?

[2020-07-24 18:40] TheCakeIsNaOH commented on #7
I think NSIS install and portable packages can be embedded.

The files are pretty small, just a couple of megs.

NSIS has parts under a number of licenses, but all of them allow redistribution, so it would be just a matter of including a number of license files.

I could work on providing a PR if wanted.

[2020-07-24 19:00] mkevenaar commented on #7
@TheCakeIsNaOH feel free to submit a PR

[2020-08-03 12:46] SeanKilleen opened #60 "(powertoys) out of date for a few days"
PowerToys `v0.20.0` was released 7/31 and it announces the availability in my windows sidebar, but I hadn't seen any update via Chocolatey.

It hasn't been that long, so I assume an update is likely coming, but since these are automatic, I figured I'd add an issue just in case.

[2020-08-03 12:53] mkevenaar commented on #60
Hi @SeanKilleen

Thanks for creating this issue. I am aware of the new PowerToys release, however I am currently unable to update.

For more info see:
https://github.com/microsoft/PowerToys/issues/5381
https://chocolatey.org/packages/powertoys#comment-5016107595

[2020-08-03 13:05] SeanKilleen commented on #60
Thanks for this information! I hope they're able to resolve it and I'll up-vote.

[2020-08-03 21:12] mkevenaar commented on #60
@SeanKilleen A MSI installer has been provided by the PowerToys team. A new version of the package should be submitted soon.

[2020-08-03 21:12] #60 closed

[2020-08-05 11:30] Mahagon opened #61 "(chocolatey-isomount.extension) iso doesnt unmount if setup fails"
## Expected Behavior
if the install doesn't exit with an success exitcode the iso should be unmounted

## Current Behavior
if the install doesn't exit with an success exitcode the iso stays mounted and will add another mounted drive on every run

## Possible Solution
try catch finally? -> finally does the dismount
https://github.com/mkevenaar/chocolatey-packages/blob/master/extensions/chocolatey-i

[2020-08-05 11:35] mkevenaar commented on #61
@Mahagon thank you for creating this issue. I'll try to have a look at this soon.
Feel free to submit a PR if you want

[2020-08-06 07:16] mkevenaar commented on #57
@mastacheata I don't believe the current versions of PHPStorm supports EAP versions.

At this point I am currently not intended to implement this. If you want, you can always submit a PR.

[2020-08-06 07:17] mkevenaar commented on #54
@Schroedingers-Cat Thanks for submitting this issue, I will have a look at this.

[2020-08-06 09:15] mkevenaar commented on #61
This has been fixed here: https://github.com/mkevenaar/chocolatey-packages/commit/7c0767de27af4e0fbd7b94a9cd0cbd7e76747393

A new version of the package will be pushed out soon.

[2020-08-06 15:22] mastacheata commented on #57
Are you referring to the fact that there is currently no EAP version of PHPStorm on the Jetbrains website or that your packaging system doesn't support the prerelease flag of chocolatey?

PHPStorm EAP happens every few months or so. Right now there's no EAP version since they just released the 2020.2 versions of their IDEs one or two weeks ago.

As for your system of autoupdates not supporting pre

[2020-08-07 12:17] mkevenaar commented on #61
The package is in the queue, ready to be moderated:

https://chocolatey.org/packages/chocolatey-isomount.extension/1.0.1

You can use this version by specifying a version number: choco install chocolatey-isomount.extension --version=1.0.1

[2020-08-07 12:17] #61 closed

[2020-08-10 19:02] lirlocker opened #62 "(Wireshark) Not installing a capture driver"
The Wireshark installation does not install a capture driver (Npcap preferably) and thus it doesn't show any capture interfaces.
I think it should have Npcap as a dependency or even show a link to download it.

From the documentation about arguments passed to the installer:
`/S runs the installer or uninstaller silently with default values. The silent installer will not install Npcap.`

Thanks.

[2020-08-10 19:12] mkevenaar commented on #62
@lirlocker The developers of npcap have explicitly refused a Chocolatey package. Therefore I can't embed or install it while installing Wireshark

[2020-08-10 19:23] lirlocker commented on #62
Thanks for your reply, is there a way to maybe warn the user that Npcap will not be installed and that it should be installed manually?
It would probably spare some time for people searching the internet for a solution for why their interfaces aren't showing.

[2020-08-10 19:42] mkevenaar commented on #62
@lirlocker There could be a `Write-Warning` after installation in the package.

[2020-08-15 22:44] tesch1 opened #64 "(nsis) the choco nsis package is broken"
[code]

## Possible Solution
Loooks like the astuteinternet sourceforge mirror is broken.. and this package hard-codes that mirror?  I couldn't figure it out.

## Your Environment

https://travis-ci.com/github/tesch1/turbobadger/jobs/372450449

[2020-08-15 22:44] tesch1 commented on #64
Other users report the same - https://chocolatey.org/packages/nsis#status

[2020-08-15 22:58] mkevenaar commented on #64
There is a new version ready for review. It's fixed in that version of the package.

[2020-08-15 22:58] #64 closed

[2020-08-15 23:03] tesch1 commented on #64
Thanks!

[2020-09-05 20:15] wolffberg opened #65 "(Slack) Non-terminating error on upgrade if slack.exe is not running"
## Expected Behavior
Installer should run without errors even if slack.exe is not running.

## Current Behavior
Non-terminating error is thrown when running `choco upgrade slack -y`

[code]

## Possible Solution
Set `ErrorAction` to `SilentlyContinue` in **chocolateyBeforeModify.ps1**
[code]

## Steps to Reproduce (for bugs)
1. `choco install slack --version 4.8.0 --allow-downgrade -y`
2. `choco u

[2020-09-05 22:06] mkevenaar commented on #65
@wolffberg thanks for submitting this issue, I think it's a good addition for the package.

Are you willing to submit a PR for this?

[2020-09-05 23:27] wolffberg commented on #65
PR created https://github.com/mkevenaar/chocolatey-packages/pull/66

[2020-09-06 14:40] #65 closed

[2020-09-12 22:04] #57 closed

[2020-09-17 12:51] DigNative opened #68 "(winrar) Broken because of repackaging due to certificate revocation"
## Expected Behavior
Installation of WinRAR via chocolatey should work without any issue.

## Current Behavior
The WinRAR installer cannot be downloaded because the checksum of the downloaded file is different to the expected one:
[code]

## Possible Solution
Update the hashes for all downloads in `tools\downloadInfo.csv`.

## Steps to Reproduce (for bugs)
Try to install the current version of the

[2020-09-17 13:03] mkevenaar commented on #68
Hi @DigNative

thank you for checking this!

I have kicked of a new build and a new package should be available soon.

[2020-09-17 13:03] #68 closed

[2020-09-17 13:11] mkevenaar commented on #68
This is the commit with the changed checksums: https://github.com/mkevenaar/chocolatey-packages/commit/3cb32d67aa5e857859e4cfaf29fba10c185ab94a

New package: https://chocolatey.org/packages/winrar/5.91.0.20200917

[2020-09-17 19:55] naveen521kk opened #69 "(mysql) Issue with x86 PC"
## Expected Behavior
I installed MySql and it worked on my main PC. But when I tried the same for my Laptop which is 32 bit Windows 10, it installed but the software didn't work.

## Current Behavior
It gave me this error on my Laptop.
[code]
## Possible Solution
It looks like the upstream doesn't have zip files for x86 PC so the package should check for `x86` using `Get-OSArchitectureWidth` and s

[2020-09-17 20:53] DigNative commented on #68
Thank you very much for your very fast reaction and the fix!

[2020-09-20 18:53] #69 closed

[2020-09-20 18:54] mkevenaar commented on #69
Hi @naveen521kk thanks for noticing!

This has been fixed and will get pushed on a next release of MySQL

[2020-09-20 19:13] naveen521kk commented on #69
Also, a small suggestion there had been many red coloured outputs while installing possibly because of  `Start-ChocolateyProcessAsAdmin`. I suggest using something else to fix it because sometimes it looks pretty scary.

I suggest directly calling is batch scripts using `& "<batch script name>" -params` could possibly fix it and also is there an issue for that on chocolatey?
@mkevenaar

[2020-09-20 19:15] mkevenaar commented on #69
Hi @naveen521kk

calling `Start-ChocolateyProcessAsAdmin` is the best way to go when calling an executable or a batch script inside Chocolatey packages.

I am not sure if there is an issue for that, best to check over at the https://github.com/chocolatey/choco repo

[2020-09-20 19:27] naveen521kk commented on #69
Here https://github.com/chocolatey/choco/issues/1016

Why is it so? Also, it is nearly for many users whom I recommend to install MySQL using chocolatey were literally frightened on seeing some weird red coloured outputs. I don't think it is problem with this package though.

[2020-09-20 19:34] mkevenaar commented on #69
@naveen521kk it aserts that you have admin privileges. Chocolatey could be used in a non-admin environment.

for more info about the helper, have a look at the [documentation](https://chocolatey.org/docs/helpers-start-chocolatey-process-as-admin)

[2020-09-25 09:40] benshep opened #70 "pycharm-community: old versions not removed when upgrading"
## Expected Behavior

When I upgrade packages with `choco upgrade all`, I'd expect old versions of PyCharm to be removed.

## Current Behavior

Old versions of PyCharm still exist on the system after upgrading.

## Steps to Reproduce (for bugs)

1. `choco install pycharm-community --version=2020.2.1`
2. `choco upgrade pycharm-community`

The newest version (2020.2.2) is installed, but 2020.2.1 is

[2020-10-02 11:29] SUPRVISOR opened #72 "Virus found in the source url https://chocolatey.org/packages/iobit-malware-fighter/8.2.0.685#files - URGENT"
Hello

I inform you that the source for the software iobit-malware-fighter / 8.2.0.685 is infected Windows categorizes it as "Serious" Trojan

Choco also informs that the checksum is not good.

Your source:
http://update.iobit.com/dl/IObit-Malware-Fighter-Setup.exe

My official source tested is no problem:
http://cdn.iobit.com/dl/IObit-Malware-Fighter-Setup.exe

I let you change the source in orde

[2020-10-02 11:41] mkevenaar commented on #72
Hi @SUPRVISOR

I do not own / maintain the IOBit Software. Best to reach out to them regarding (possible) viruses in their software.

Regarding the checksum, I could trigger a new build.

[2020-10-02 12:02] SUPRVISOR commented on #72
hi
I look who takes care of it thank you and I tell them
Best Regards.
SUPERVISOR

[2020-10-05 19:17] mkevenaar commented on #72
The source has been changed and will be used on the next version of the package.

[2020-10-05 19:17] #72 closed

[2020-10-06 02:56] ArgonAlex commented on #60
Any news on a new version?

[2020-10-06 15:41] treischl opened #74 "(powertoys) package is not automatically updating from 0.21.1 to 0.23.0"
## Expected Behavior

The package should automatically update when a new version is available on [Github](https://github.com/microsoft/PowerToys/releases/latest)

## Current Behavior

Currently the package is stuck at 0.21.0 while the latest release is 0.23.0.

## Possible Solution

It appears that the [update.ps1](https://github.com/mkevenaar/chocolatey-packages/blob/78d69e93c3952901a478e404bf240

[2020-10-07 02:29] aminya commented on #70
I have the same problem! Is there any progress on this?

[2020-10-07 17:22] mkevenaar commented on #70
This has been fixed in git. However this will take two new packages (starting from now) before this will work, until then, please uninstall previous versions manually.

Note: the commits have been submitted after the pycharm* package releases for 202.2.3

[2020-10-07 17:22] #70 closed

[2020-10-07 17:24] mkevenaar commented on #54
@Schroedingers-Cat this has been fixed in git just now. It will take 2 new packages before this comes into play. Until then, please uninstall previous versions manually.

[2020-10-07 17:24] #54 closed

[2020-10-07 17:28] mkevenaar commented on #74
@treischl thank you for this issue. I am going to pick this up. Unfortunately the package will now require some extra dependencies and additional parameters.

https://github.com/microsoft/PowerToys/wiki/Installer-arguments-for-exe

[2020-10-07 19:25] #74 closed

[2020-10-11 18:46] survivor303 commented on #24
This is still a issue.

[2020-10-17 13:33] artmg opened #75 "(icloud) fails with error 1603"
`choco install -y icloud` fails with error 1603

## Expected Behavior
* Install completes without errors
* Add Remove Programmes (ARP) includes the entries `iCloud 7.21.0.23` as well as App Support and Bonjour mentioned below
* Start Menu includes an `iCloud` folder with 11 icons such as `Calendar,` `Contacts` etc
    * _I am unclear whether there should be a Start Menu `Apple Software Update` ent

[2020-10-17 15:05] mkevenaar commented on #75
@artmg the error code 1603 is basically the mother of all error codes. Looking at the log I can't find an obvious reason why iCloud failed.

Would you be able to restart your computer and try again?

[2020-10-18 08:06] artmg commented on #75
After a restart there was no change in behaviour. I did a manual install via the exe, which worked, and I then uninstalled it manually. After a further restart I then reattempted choco install and the issue still arose. It's been a while since I scoured MSI Action logs, but is there not something in the msi log attached at https://pastefs.com/pid/243665 that gives at least some clue. Is there not

[2020-10-26 22:16] chrisjlocke commented on #28
Just a nod that (technically) it will require two shortcuts (well, maybe four).  There are two .exe's provided in the package - normal DB4S, and a sqlCipher version.  I assume a shortcut would be placed on the desktop as well as the start menu?
Some have suggested just a shortcut to the SQLCipher version could be used, but this does (sometimes) tend to have a different version of SQLite, depending

[2020-10-26 22:23] chrisjlocke commented on #28
Just another nod that it would be handy to chocolatise (?!) the nightly versions of DB4S.  Maybe not the /actual/ nightlies, as that could be a maintenance nightmare, and I don't know how long it takes for a package to be vetted and made available, but maybe weekly at the least.  The development of DB4S can be in spit and spurts, while the actual 'final release' of a build can be quite lengthy (es

[2020-11-07 06:41] ForNeVeR opened #76 "JetBrains Rider gets installed to Program Files (x86) which breaks its batch script"
## Expected Behavior
`choso install jetbrains-rider` should install Rider to `C:\Program Files\JetBrains\JetBrains Rider 2020.2.4\`

## Current Behavior
`choso install jetbrains-rider` installs Rider to `C:\Program Files (x86)\JetBrains\JetBrains Rider 2020.2.4\`, which leads to `rider.bat` being broken (see [IDEA-254793](https://youtrack.jetbrains.com/issue/IDEA-254793)).

## Possible Solution
No

[2020-11-08 12:22] mkevenaar commented on #76
Hi @ForNeVeR,

Thank you for submitting this issue.

Unfortunately, I am not specifying any installation folder for this software. I don't know why the installer installs in the `Program Files (x86)` folder. I am only telling it to install silently

First of all, I think the install folder is a bug in the JetBrains installers. I have seen this happening with all of their software and silent instal

[2020-11-08 12:26] ForNeVeR commented on #76
Yes, this is possible. I'll investigate and let you know of results.

Thanks for taking a look!

[2020-11-09 06:27] ForNeVeR commented on #76
Also, something's wrong with the stale bot removing a label you've just added, @mkevenaar :)

[2020-11-12 16:14] pascalberger opened #77 "(microsoft-windows-terminal) Support system wide installation"
## Expected Behavior

Windows Terminal should be installed system wide to work seamlessly with Chocolatey and also in scenarios where background service is used.

## Current Behavior

Package uses `Add-AppxPackage` CmdLet which installs the app in user context, which means that the package doesn't work when background service is configured.

## Possible Solution

## Steps to Reproduce (for bugs)

[2020-11-12 16:17] mkevenaar commented on #77
Hi @pascalberger
Thanks for submitting this issue. I think it's a nice improvement that I think would be best as a package parameter.

Are you willing to submit a PR for this?

Thanks in advance,

Maurice

[2020-11-12 16:22] pascalberger commented on #77
If I find a way to do this I for sure can submit a PR (let me know if you have any ideas).

Can implement it as a package parameter, but I would suggest to make system wide installation the default in this case, since Chocolatey is a system wide package manager (otherwise you would have the issue that User A installs the package, User B has the choco package installed, but doesn't have the app ava

[2020-11-13 07:39] pascalberger commented on #77
System wide installation basically seems to work using the [Add-AppxProvisionedPackage](https://docs.microsoft.com/en-us/powershell/module/dism/add-appxprovisionedpackage?view=win10-ps) command. I'll try to create a PR based on this.

[2020-11-13 12:27] SeanKilleen opened #78 "(Evernote) automatic updates not running?"
Hi! Thank you for making packages available for us folks. :)

It looks like we're missing some of the latest releases, e.g. https://cdn1.evernote.com/boron/win/builds/Evernote-10.3.7-2018-setup.exe.

I looked at the `update.ps1` script and as far as I can tell all the matching etc. is correct. Is it possible that the automatic packages aren't running?

I'm going to submit a PR that updates the man

[2020-11-13 14:04] mkevenaar commented on #78
Hi @SeanKilleen
thanks for letting me know!
Unfortunately the PR you submitted isn't going to work.
I have fixed my update.ps1 file, it now detects the new V10 version. A new version has been pushed to Chocolatey and will be available soon.

[2020-11-13 14:04] #78 closed

[2020-11-13 14:06] SeanKilleen commented on #78
Ahh, interesting -- I'd looked at what might have been wrong but couldn't find it. I'll learn from your update; much appreciated! 👍 I'll close my PR.

[2020-11-20 00:21] oninoshiko opened #80 "(SuperPutty.install) Should depend on Putty.install"
## Expected Behavior
The putty.install version of putty is installed, or at least used if present.

## Current Behavior
Even with putty.install installed, it installs putty.portable

## Possible Solution
Change dependency to putty.install

## Steps to Reproduce (for bugs)
1. Install putty.install
2. install superputty.install
3. note the installation of putty.portable

## Context
Results in two di

[2020-11-20 08:26] mkevenaar commented on #80
Hi @oninoshiko

Thank you for submitting this issue. First of all, I would like to say that I totally agree with you, however I think I can't change it anymore. Let me try to explain why:

When I took over the maintenance of this package, I inherited the decisions made by the original maintainer.

I would have loved to match the `superputty.install` package with `putty.install`, however since the

[2020-11-21 09:14] WHiZSTA opened #81 "iobit uninstaller package is very out of date"
the iobit uninstaller package is very out of date
your version states 9.6.0.3
latest free version on iobit's site is 10.1.21 updated oct 20th
https://download.cnet.com/IObit-Uninstaller/3000-2096_4-75161625.html?part=dl-&subj=dl&tag=button

[2020-11-26 21:29] #75 closed

[2020-11-29 12:44] #28 closed

[2020-11-29 12:57] #81 closed

[2020-11-29 12:58] mkevenaar commented on #81
@WHiZSTA Thank you for submitting this issue, I have committed a fix. A new package version should be available soon.

[2020-12-03 07:48] pascalberger commented on #77
I tried with Add-AppxProvisionedPackage, but unfortunately couldn't get it relieable to work. It works one time, but then throws an error the other. Also documentation mentions that this will only install for new created accounts, but in my tests it was also added to existing accounts. Another thing is uninstallation, where documentation mentiones that this is also for new accounts. Not sure if th

[2020-12-10 15:38] ba-tno commented on #70
Maybe I'm misunderstanding this sentence, but I just updated to `2020.3` from `2020.2.3` using `cup all -y` and version `2020.2.3` is not removed.
Looking at the chocolatey [version history](https://chocolatey.org/packages/PyCharm-community#versionhistory) I see that `2020.3` is the third package after `2020.2.3`.
Or is that expected and should an update of `2020.3` result in its removal?

[2020-12-10 15:40] mkevenaar commented on #70
@ba-tno did you see anything in the log files regarding multiple found versions, it will only remove one older version to be sure it does not remove too much...

[2020-12-10 15:53] ba-tno commented on #70
I did not see anything in the log about multiple found version, I only had `2020.2.3` installed. This is the log exceprt surrounding the pycharm uninstall:

[code]

I've now uninstalled it manually, so no real issue there, but thought I would indicate that this issue still seems to exist.
Let me know if you need additional logs.

[2020-12-10 15:58] mkevenaar commented on #70
@ba-tno based on that output you still had an old version of the `chocolateyBeforeModify.ps1` file installed It should be working on your machine when the next release of pycharm-community is released.

[2020-12-14 11:52] majkinetor opened #85 "(viber) Register application"
It would be great to be able to start viber using Win+R which is currently not possible.

For that to work, you need to use this:

[code]

or add it to the PATH which is IMO not necessary.

If you want to accept it I can test it out and make a PR ?

[2020-12-14 13:46] mkevenaar commented on #85
@majkinetor Sure, feel free to submit a PR ;)

[2020-12-20 18:22] #76 closed

[2020-12-22 00:23] oninoshiko commented on #80
I have made a version that uses putty.install in my internal repository, I will be testing to make sure everything is fine for my own usage.

[2021-01-10 14:03] #77 closed

[2021-01-21 13:13] renovate[bot] opened #88 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:15] #88 closed

[2021-02-02 06:01] maxprehl commented on #62
I'm thinking a solution to this might be to provide a chocolatey flag to _disable_ the silent install, allowing wireshark's installer to give the user the option to bring in npcap.

[2021-02-04 12:04] whitesource-bolt-for-github[bot] opened #90 "CVE-2020-14001 (High) detected in kramdown-1.17.0.gem - autoclosed"
## CVE-2020-14001 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>kramdown-1.17.0.gem</b></p></summary>

<p>kramdown is yet-another-markdown-parser but fast, pure Ruby,
using a strict syntax definition and supporting several common extensions.
</p>
<p>Library home

[2021-02-04 12:04] whitesource-bolt-for-github[bot] opened #91 "CVE-2019-16892 (Medium) detected in rubyzip-1.2.3.gem - autoclosed"
## CVE-2019-16892 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>rubyzip-1.2.3.gem</b></p></summary>

<p></p>
<p>Library home page: <a href="https://rubygems.org/gems/rubyzip-1.2.3.gem">https://rubygems.org/gems/rubyzip-1.2.3.gem</a></p>
<p>

Dependency Hierarch

[2021-02-05 10:02] whitesource-bolt-for-github[bot] opened #92 "CVE-2015-3227 (Medium) detected in activesupport-3.2.22.5.gem - autoclosed"
## CVE-2015-3227 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>activesupport-3.2.22.5.gem</b></p></summary>

<p>A toolkit of support libraries and Ruby core extensions extracted from the Rails framework. Rich support for multibyte strings, internationalization,

[2021-02-05 10:02] whitesource-bolt-for-github[bot] opened #93 "CVE-2015-3226 (Medium) detected in activesupport-3.2.22.5.gem - autoclosed"
## CVE-2015-3226 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>activesupport-3.2.22.5.gem</b></p></summary>

<p>A toolkit of support libraries and Ruby core extensions extracted from the Rails framework. Rich support for multibyte strings, internationalization,

[2021-02-05 10:02] #91 closed

[2021-02-05 10:03] #90 closed

[2021-02-05 10:42] #92 closed

[2021-02-05 10:42] #93 closed

[2021-02-16 00:14] kev009 opened #96 "Add ws3270 to wc3270 package"
ws3270 is a native windows client that is part of the same suite as wc3270.  Can you add it to the package?

[2021-02-20 14:36] JasonMeudt commented on #49
While this was marked stale/wontfix, before I test that on installing, would someone verify that this is indeed still installing to the version number foldering structure. eg. C:\nginx\nginx-1.xx.x?

[2021-02-21 09:57] flcdrg commented on #49
It was the last time I tried. Sorry I wasn't able to get further with the fix. The incentive to fix it has now reduced as I've changed roles.

[2021-03-03 14:26] DoLearnWhileAlive opened #97 "UltraVNC setup file cleanup not working"
## Expected Behavior
UltraVNC setup files should be removed after installation or a ignore file should be created for all setup files to avoid shimming

## Current Behavior
UltraVNC setup files are not removed after installation and a ignore file is only created for the installed setup file

[code]

## Possible Solution
chocolateyInstall.ps1 should correctly use variable $toolsDir instead of undef

[2021-03-03 14:30] DoLearnWhileAlive commented on #97
Found multiple packages affected here. Pull Request fixes all 11 affected packages.

[2021-03-06 10:15] #97 closed

[2021-03-22 01:08] whitesource-bolt-for-github[bot] opened #100 "CVE-2021-28834 (High) detected in kramdown-2.3.0.gem"
## CVE-2021-28834 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>kramdown-2.3.0.gem</b></p></summary>

<p>kramdown is yet-another-markdown-parser but fast, pure Ruby,
using a strict syntax definition and supporting several common extensions.
</p>
<p>Library home p

[2021-04-10 04:28] jtcmedia opened #103 "(bitvise-ssh-server) Wrong Checksum"
## Expected Behavior
package gets upgraded

## Current Behavior
package doesn't get upgraded, error in checksum

## Possible Solution
Manually run your update script and release a fixed package version. Bitvise must've changed the d/l w/o changing version number.

[2021-04-14 03:37] jmoralesv commented on #52
Hi all,
I found the same issue, this time with version 6.3.0. The URL used by the Chocolatey package resolves to an error. In the Samsung site, https://www.samsung.com/semiconductor/minisite/ssd/download/tools/, the current URL uses an Azure URL, https://p6wrew7f.azureedge.net/magician/202102/20210209_Magician_6.3_r26c7b0eafa6.zip/REAL/Samsung_Magician_Installer_Official_6.3.0.300.zip

I think Sam

[2021-04-19 15:31] guenam commented on #52
The issue has been going on for quite a while now. It looks like the maintainer has given up or is too busy.

[2021-04-19 15:38] mkevenaar commented on #52
Nope, I can't fix the policy of Samsung.

Also you are reporting on a closed issue.

Please open a new issue.

[2021-04-20 11:04] #103 closed

[2021-04-20 11:04] mkevenaar commented on #103
@jtcmedia thanks for submitting this issue, a new build is triggered. A new version should be available soon on the CCR

[2021-04-29 14:14] mkevenaar commented on #100
Fixed!

[2021-04-29 14:14] #100 closed

[2021-05-03 01:08] whitesource-bolt-for-github[bot] opened #106 "CVE-2021-28965 (High) detected in rexml-3.2.4.gem - autoclosed"
## CVE-2021-28965 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>rexml-3.2.4.gem</b></p></summary>

<p>An XML toolkit for Ruby</p>
<p>Library home page: <a href="https://rubygems.org/gems/rexml-3.2.4.gem">https://rubygems.org/gems/rexml-3.2.4.gem</a></p>
<p>

Depe

[2021-05-03 09:31] #106 closed

[2021-06-03 20:59] #80 closed

[2021-06-10 19:31] j-w-jones opened #109 "mariadb.install - Add UTF8 flag"
Is it possible to enable the MariaDB installer options such as UTF8, adding a root password etc.?

[2021-07-21 01:19] #109 closed

[2021-07-21 16:12] Some-Dood opened #111 "(mongodb.install) Allow user to specify components"
At the moment, there is no way for the user to specify which components may be installed. That is, the `ADDLOCAL` installer flag has been hard-coded.

https://github.com/mkevenaar/chocolatey-packages/blob/f2a9deab8ce00e7820c3cdaf010cec40e9f81cdd/automatic/mongodb.install/tools/chocolateyInstall.ps1#L6

It would be neat if there were package parameters that allowed the user to pick the components,

[2021-08-25 04:47] renovate[bot] opened #112 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-31 02:29] BrandonKMLee opened #114 "Zettlr with TeX install"
## Current Behavior
https://github.com/mkevenaar/chocolatey-packages/tree/master/automatic/zettlr
Then install with chocolatey
- https://community.chocolatey.org/packages/miktex
- https://community.chocolatey.org/packages/texlive

## Possible Solution
The parameter that installs TeX by default.

[2021-08-31 11:33] mkevenaar commented on #114
@BrandonKMLee a Chocolatey package cannot start an installation of more than 1 piece of software. Also if there are 2 packages that provide the same kind of application, I cannot add them as a dependency.

[2021-08-31 13:29] BrandonKMLee commented on #114
@mkevenaar wait, then how can chocolatey install AHK as a dependency for other software?

[2021-08-31 19:31] mkevenaar commented on #114
@BrandonKMLee You can have multiple dependencies, but they are 'and' dependencies, not 'or'. Based on your description, one of these packages could be used.

[2021-09-01 01:48] BrandonKMLee commented on #114
Fair, but they do have a note saying that TeX is required for certain features https://docs.zettlr.com/en/installing-latex/
If not, I don't mind this turning into an optional flag.

[2021-09-01 08:08] mkevenaar commented on #114
@BrandonKMLee The only way to process optional parameters are by using PowerShell. I cannot provide option A or B in a package and I am not allowed to call `choco install` or any other `choco` command within a Chocolatey package. I can't see how I can continue with this request.

[2021-09-01 08:26] BrandonKMLee commented on #114
Apologies then, will ask help from them instead.

[2021-09-01 08:26] #114 closed

[2021-09-08 05:41] tristanwilson111 opened #115 "Current baseDir & dataDir parameters do not allow for spaces in the path"
The way we process the inbound parameters here:

https://github.com/mkevenaar/chocolatey-packages/blob/233fd0483b91fe98ae6750f2b38065ffd5fa7833/automatic/mysql/tools/chocolateyInstall.ps1#L63-L64

We are not able to pass paths with spaces, in my case "C:/Program Files/MySQL..."

The variable passed in is seen as "C:/Program Files"

I would troubleshoot this on my own, but unsure as to how to load

[2021-10-02 01:31] #111 closed

[2021-10-09 14:17] nwmcsween opened #116 "UltraVNC file associations, start menu links and icons not installed"
## Expected Behavior

* Desktop icons for all users get installed
* Start menu shortcuts get installed for all users
* Associate ultravnc with .vnc extensions

## Current Behavior

None of the above

## Possible Solution

* ???
* Profit?

## Steps to Reproduce (for bugs)

* Install

## Context

* Need to reinstall ultravnc manually in order to get proper associations, shortcuts, icons, etc.

## Yo

[2021-10-27 12:32] iakovmarkov opened #117 "(iCloud) doesn't install"
## Expected Behavior
After running `choco install icloud`, it gets installed.

## Current Behavior
Installation fails with error code 1603:
[code]

Let's take a look at MSI installer logs. Interesting part is here:
[code]

The folder `C:\Program Files (x86)\Common Files\Apple\Internet Services\` doesn't seem to exist on my machine. I've downloaded `http://updates-http.cdn-apple.com/2020/windows/00

[2021-10-29 08:59] TDarkShadow opened #118 "(powertoys) Chocolatey stays on version 0.47.1"
## Expected Behavior

If Powertoys is not installed, it should install the newest version, which is v0.49 at the moment of writing.
If Powertoys is installed, it should upgrade to the newest version, which is v0.49 at the moment of writing.

## Current Behavior

Chocolatey installs / upgrade installed Powertoys v0.47.1.

## Possible Solution

Check if anything changed with Chocolatey v0.11.3 regar

[2021-10-29 09:26] #118 closed, assigned to nobody

[2021-10-29 09:31] #116 closed, assigned to nobody

[2021-11-23 16:22] iakovmarkov commented on #117
Hi @mkevenaar! Sorry for late response. This is the log contents: https://gist.github.com/iakovmarkov/17686bae746b04f8cd1ba8ea555076d9

[2021-12-03 17:57] lucknaumann opened #119 "(ExifTool) Website down, use SourceForge & not generate unnecessary text files"
## Expected Behavior

For this package to update, and not generate useless text files.

## Current Behavior

This package isn't updating because the old website is down. Packages can be found on SourceForge: https://sourceforge.net/projects/exiftool/.

This package also leaves a trail of old text files: "exiftool-{version}.zip.txt," which take up unnecessary space. These files are completely unnec

[2021-12-06 09:29] mkevenaar commented on #119
The exiftool website is backup. This is no longer an issue

[2021-12-06 09:29] #119 closed

[2021-12-06 09:34] mkevenaar commented on #117
Hi @iakovmarkov

Based on the log file and some testing of my own, it seems that there is an issue with the iCloud installer itself, this is an issue with the software vendor, not the Chocolatey package.

Having said that, I would try to uninstall all the iCloud software from your PC, if it is already installed and try the Chocolatey package again. If this does not help, You may ask your question

[2021-12-06 09:34] #117 closed

[2021-12-06 09:34] mkevenaar commented on #115
No response after a month, closing issue

[2021-12-06 09:34] #115 closed

[2021-12-06 09:39] iakovmarkov commented on #117
@mkevenaar as I've mentioned, running the same MSI file that Chocolatey downloaded and tried to install worked well. I doubt it's the problem with iCloud, but I understand if you're not interested in fixing this :)

[2022-01-06 23:11] koolhand opened #121 "PowerToys install no longer silent, new installer has new commandline arguments"
## Expected Behavior
PowerToys installer should be silent.

## Current Behavior
With the update to PowerToys v0.53.1, installation is no longer silent - there is a licence prompt. This is the result of a changed installer platform for PowerToys.

## Possible Solution

* OLD: --silent --skip_dotnet_install
* NEW: -silent

See the [PowerToys docs](https://docs.microsoft.com/en-us/windows/powertoys/i

[2022-01-11 10:21] mkevenaar commented on #121
Changes to fix this have been merged and will be available on the next release of PowerToys

[2022-01-11 10:21] #121 closed

[2022-02-21 09:26] BercziSandor opened #123 "Install failure: 'parallel configuration is incorrect'"
I am not able to install the package.
I tried to solve this "The application failed to start because its parallel configuration is incorrect. For more information about this issue, see the application event log or start the sxstrace.exe command-line tool." error: I removed all the app installed "Microsoft Visual C + Redistributable". After rebooting, I get the same.

## Expected Behavior
Install w

[2022-03-27 18:30] rgl opened #124 "microsoft-windows-terminal missing dependency on the Visual C++ Desktop Universal Runtime Package"
## Expected Behavior

I expected to install the windows terminal without having the windows store installed.

## Current Behavior

The package installation fails as:

[code]

## Possible Solution

As described in the [Windows Terminal Release page](https://github.com/microsoft/terminal/releases/tag/v1.12.10732.0):

So this chocolatey package is missing that dependency.

After I've manually install

[2022-03-28 09:19] Zheng-Li01 commented on #124
Also met the issue on my side, and actually which working well in last week.

**Error Message**
 Windows cannot install package Microsoft.WindowsTerminal_1.12.10732.0_x64__8wekyb3d8bbwe because this package depends on a framework that could not be found. Provide the framework "Microsoft.VCLibs.140.00.UWPDesktop" published by "CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washingt

[2022-04-13 17:23] opusforlife2 opened #125 "(exiftool) Old files left behind after package upgrade"
## Expected Behavior

No files from old versions should remain after package upgrade.

## Current Behavior

These old files from previous versions are still existing in the `lib > exiftool` folder:

[code]

and so on.

## Possible Solution

All files associated with an older version should be deleted upon package upgrade.

## Steps to Reproduce (for bugs)

Upgrade the package.

[2022-04-13 21:09] davidzwa opened #126 "(mongodb 5.3.1) mongod service stops - wrong featureCompatibilityVersion"
## Expected Behavior
I expect mongo/mongod to start the service without stopping.

## Current Behavior
The service stops immediately with the log message mentioning the `featureCompatibilityVersion` is set to 5.1 in the admin table. (Im slowly typing this issue and realizing this might have little to do with the choco package... still maybe we can think of a fix which does not involve removing the

[2022-04-13 21:14] davidzwa commented on #126
https://www.mongodb.com/docs/manual/reference/command/setFeatureCompatibilityVersion/
Thinking of something like this. This 'feature compatibility' thing is something outside our control once the mongo service crashes, so as a choco user we are forced to roll back to 5.2

[2022-04-13 21:26] davidzwa commented on #126
Setting the featureCompability to 5.2 allowed me to upgrade to 5.3 without the service crashing

I started up MongoSh in MongoDb Compass:
[code]

Resulted in this output when querying:
![image](https://user-images.githubusercontent.com/6005355/163273064-829ef7cc-7429-4baf-bfc4-ff9ba3beb3af.png)

Lets hope this doesnt happen more in the future

[2022-04-13 21:26] #126 closed

[2022-04-22 05:19] zhengda-skinny opened #127 "musicbee Install failed"
musicbee Install failed

## Expected Behavior

## Current Behavior

Chocolatey v1.1.0
Installing the following packages:
musicbee
By installing, you accept licenses for the packages.
Progress: Downloading musicbee 3.4.7805... 100%

musicbee v3.4.7805 [Approved]
musicbee package files install completed. Performing other installation steps.
The package musicbee wants to run 'chocolateyInstall.ps1'.

[2022-04-28 04:36] #123 closed

[2022-04-28 11:33] mkevenaar commented on #127
Unfortunately Musicbee has changed their distribution method to use Mega upload, one that cannot be automated for download. I am looking for an alternative

[2022-04-28 11:34] mkevenaar commented on #124
Sorry, just seeing this issue now. I will look if I can add the correct dependency

[2022-04-28 16:21] zhengda-skinny commented on #127
Hi Maurice

Please check the attatched image.

Maurice Kevenaar ***@***.***> 于 2022年4月28日周四 下午11:33写道：

[2022-05-04 08:42] pitsi opened #128 "Winrar 6.11 has wrong (possibly old) checksums"
## Expected Behavior
Chocolatey should install winrar without complaining about the checksum mismatch that is mentioned below.

## Current Behavior
As seen below, chocolatey fails to install winrar because the exe file fails to pass the checksum verification. When the mentioned `--ignore-checksums` parameter is used, chocolatey installs winrar with no issues.
[code]

## Possible Solution
Update th

[2022-05-04 09:24] #128 closed

[2022-05-04 09:24] mkevenaar commented on #128
@pitsi a new build has been triggered, once pushed and approved, this will solve this issue

[2022-06-07 21:26] jeansagi opened #130 "Upgrading Powertoys from version 0.58 to 0.59 incorrectly try to install ARM on x64"
Upgrading Powertoys from version 0.58 to 0.59 incorrectly try to install ARM on x64

## Expected Behavior

Now that there is an ARM and an x64 version, the chocolatey installer should choose the correct installer depending on the user platform.

n/a

## Current Behavior

ARM version of the Powertoys installer (PowerToysSetup-0.59.0-arm64.exe) is trying to get installed after issuing a "cup -y powe

[2022-06-08 19:02] mkevenaar commented on #130
Thank you for submitting the issue, I will take a look at it

[2022-06-08 22:37] TheNavyBear opened #131 "(powertoys) dependencies need updated"
PowerToys has been updated to need dotnet6 now instead of dontnetcore3. Please change the dependency from 'dotnetcore-desktopruntime' to 'dotnet-desktopruntime'.

## Context
Per the v0.58 release notes: "All uses of .NET Core 3.1 were removed. PowerToys now runs on .NET 6."

[2022-06-11 11:18] #131 closed

[2022-06-11 11:18] #130 closed

[2022-06-11 11:19] mkevenaar commented on #130
This is fixed, a new version should be pushed soon and available for usage in a couple of hours.

[2022-06-11 11:19] mkevenaar commented on #131
This is fixed, a new version should be pushed soon and available for usage in a couple of hours.

[2022-06-11 14:05] jeansagi commented on #130
Confirmed!

Thanks a lot.

[2022-06-11 19:47] TheNavyBear opened #132 "(powertoys) add vcredist140 to dependencies"
The newest PowerToys requires dotnet6 (already a dependency) and vcredist140 (not currently a dependency). PowerToys installer provides both of these in the installer. Some have asked in the comments why make them dependencies if they are already included in the installer. I suggest making them dependencies so Chocolatey can install them, and then keep them up to date, even between PowerToys updat

[2022-06-15 16:34] SilmorSenedlen commented on #31
It's work with [installer option](https://www.wireshark.org/docs/wsug_html_chunked/ChBuildInstallWinInstall.html#ChBuildInstallWinWiresharkCommandLine) "/EXTRACOMPONENTS"

Example:
`choco install wireshark -y --ia=/EXTRACOMPONENTS=androiddump,ciscodump,etwdump,randpktdump,sshdump,udpdump`

For ChocolateyGUI possible installer flags should be added to description section of package.

[2022-06-15 17:03] mkevenaar commented on #132
This has been fixed here: d630d0f0c

[2022-06-15 22:10] TheNavyBear commented on #132
Thank you!

[2022-06-21 11:12] rklec opened #136 "(microsoft-windows-terminal) Cannot upgrade from v1.12.10393.0 to v1.13.11431.0 with chocolately due to Microsoft.VCLibs.140.00.UWPDesktop"
### Windows Terminal version

1.12.10393.0

### Windows build number

10.0.19044.0

### Other Software

N/A

### Steps to reproduce

`choco upgrade -y microsoft-windows-terminal`

### Expected Behavior

Upgrade suceeds.

### Actual Behavior

[code]

This looks very similar to https://github.com/microsoft/terminal/issues/3097, however this seems solved long ago and all dependencies should be shippe

[2022-06-21 20:58] theperm commented on #136
Its using Microsoft.WindowsTerminalPreview_Win10_1.14.1451.0_8wekyb3d8bbwe.msixbundl so I dont think maintainers are correct

[2022-06-21 22:40] bozho commented on #136
I have a system running `Windows Terminal Preview Version: 1.14.1451.0`, installed/upgraded using Chocolatey.

I am currently installing Windows 10 Pro x64 on a new laptop and I get that error when I run `choco install microsoft-windows-terminal --pre`.

Looking at `Get-AppxPackage` output on the "good" system, I can see two instances of `Microsoft.VCLibs.140.00.UWPDesktop`, one x64, one x86:

[co

[2022-06-22 07:34] rklec commented on #136
In pwsh (v 7.2.4) I only get errros for this:
[code]

This may be a known/common issue though: https://github.com/PowerShell/PowerShell/issues/13138

I did not look into that in more detail given it works in Windows PowerShell.

I even have three instances of that thing:
[code]

[2022-07-04 10:42] jpluimers opened #137 "(intel-mas) Intel MAS upgrade to 2.0 from 1.12 fails with 1603"
## Expected Behavior

Upgrade from 1.12 to 2.0 succeeds without any errors

## Current Behavior

Fails with error 1603.

## Possible Solution

N/A

## Steps to Reproduce (for bugs)

1. reboot
2. from a UAC cmd prompt run `choco upgrade intel-mas --exit-when-reboot-detected --yes`

## Context

Trying to update Intel MAS from 1.12 to 2.0.

Linked [gist](https://gist.github.com/jpluimers/22405da7fb1c

[2022-07-05 18:51] OliverLeighC commented on #124
Any updates on this? We are running into this issue as well

[2022-07-08 16:25] dtheurer-control4 opened #138 "Google Drive package fails to update."
This warning has been there for a long time but, it hasn't been fixed.  Several package users are experiencing based on the comments on the package: https://community.chocolatey.org/packages/googledrive

Installing googledrive...
2022-07-08T16:20:44.750ZI [42476:NonCelloThread] i18n.cc:311:InitializeI18n I18n initialized with en
WARNING: This MSI requires uninstall prior to installing a different

[2022-07-27 18:43] TraGicCode opened #141 "Cut release for 6.8.23 version of elasticsearch"
Would it be possible to cut a release for the latest 6.x version of the elasticsearch chocolatey package?  This version contained a log4j vulnerability fix that is critical in nature.

https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.23.html

[2022-08-01 10:08] mkevenaar commented on #141
https://community.chocolatey.org/packages/elasticsearch/6.8.23

This version is now pushed

[2022-08-01 10:08] #141 closed

[2022-08-17 10:52] macOneOone commented on #124
Any update?

[2022-08-26 08:01] itsolutek commented on #138
I experience this too. As I explained on the package page, it seems that Google Drive updates itself and the version showing on Chocolatey doesn't match the installed one.
On my choco, it says I have the 62.0.1.0 installed, being out of date because the latest is 62.0.2.0. However, the version installed is 62.0.2.0.
Google Drive installer will pop up saying "This version of Google Drive is already

[2022-08-29 15:55] webbertakken opened #143 "Prevent forced reboot without warning for Powertoys package."
## Expected Behavior

I would expect choco installs to not force restart my machine.

Therefor `/norestart` should be passed to `PowerToysSetup-0.61.1-x64.exe` of the [powertoys](https://github.com/mkevenaar/chocolatey-packages/tree/master/automatic/powertoys) package.

## Current Behavior

When installing `powertoys` the installer will reboot your machine without any prompt.

## Possible Solution

[2022-09-06 21:39] aaronliu0130 opened #144 "iCloud installation using msi files fails but succeeds with the parent exe"
## Expected Behavior
iCloud installs successfully when using chocolatey.

## Current Behavior
It fails with 1603, using the script's msi install method.

## Possible Solution
Pass the same args to the downloaded .exe instead of installing with the .msi strategy.

## Steps to Reproduce (for bugs)

1. `choco install iCloud`

## Context
This may be a problem with the msi itself that doesn't affect th

[2022-09-08 07:59] ddienibra commented on #124
this alternative solution...
install this two packages:
https://aka.ms/Microsoft.VCLibs.x64.14.00.Desktop.appx
https://aka.ms/Microsoft.VCLibs.x86.14.00.Desktop.appx

[2022-10-04 13:15] MijnheerD opened #146 "(texstudio.install) Qt5 version of TexStudio 4.3.1 crashes on boot, should install Qt6 version instead"
## Expected Behavior

The package should be updated to install the Qt6 version of TexStudio, i.e. `https://github.com/texstudio-org/texstudio/releases/download/4.3.1/texstudio-4.3.1-win-qt6.exe` .

## Current Behavior

Chocolatey installs the Qt5 version of TexStudio by default.

## Possible Solution

Change the `au_GetLatest` function in the `update.ps1` script to search for the Qt6 executable. P

[2022-10-05 09:34] mkevenaar commented on #143
Hi, by looking at the documentation, there is no such option `/norestart`

https://learn.microsoft.com/en-us/windows/powertoys/install#installer-arguments

[2022-10-05 09:35] mkevenaar commented on #137
Seems like INTEL has changed some stuff, MAS 2.x only works with Intel's Optane-branded products

[2022-10-05 09:35] #137 closed

[2022-10-05 09:36] #125 closed

[2022-10-05 10:56] webbertakken commented on #143
I've added a reference to a comment from the maintainer. I'm just passing on their instructions.

[2022-10-05 12:18] ymartin59 commented on #136
You can get package from https://www.microsoft.com/en-us/download/details.aspx?id=102159 and install manually before using Chocolatey to install package.
To confirm but I guess it is also included in choco package "vcredist140"...

[2022-10-06 15:50] jpluimers commented on #137
Which leaves the question: what to do on systems that have the MAS 1.x version installed?

Is it possible to waren these users that an upgrade will fail? Is there an alternative?

(I use MAS 1.x to monitor health status of my Intel 520 SSD model SSDSC2CW180A3)

[2022-10-06 17:12] mkevenaar commented on #137
You can pin it?

[2022-10-21 04:18] DragRedSim opened #148 "(wireshark) Package out of date - 4.0 release available"
As above; Wireshark 4.0.0 is available, but no package has been produced.

Note that 4.0.0 and above are only providing 64-bit binary packages on Windows.

[2022-10-24 08:08] #127 closed

[2022-10-24 08:15] mkevenaar commented on #21
https://community.chocolatey.org/packages/azurestorageemulator Already exists.

[2022-10-24 08:15] #21 closed

[2022-10-24 08:25] mkevenaar commented on #148
This has been fixed here: e61f82402239beb93a7d5516f5cd0a9be748408e

[2022-10-24 08:25] #148 closed

[2022-10-24 08:34] #146 closed

[2022-10-24 08:34] mkevenaar commented on #146
This should be fixed now, a new package will be build and will be available in the next couple of hours

[2022-10-30 10:12] #85 closed

[2022-10-31 22:16] kfsone commented on #124
Holy frustration. Working on DSC configurations, span up four VMs from the same media iso, minimal install, the first one was able to go thru and install terminal, but the other 3 were missing DesktopUWP140. Those machines have winget, so I tried using that, but I think winget has been googled (discontinued) or something, and dsc doesn't seem able to install winget packages for specific users (0x8

[2022-11-16 18:38] teknowledgist opened #152 "[microsoft-windows-terminal] installed for user, not machine"
## Expected Behavior
When an administrator installs the package, unprivileged users can run the application.

## Current Behavior
An admin account (successfully) installs the package and can run it, but my daily driver account (unprivileged as is best practice) gets a

    Windows cannot access the specified device, path, or file.  you may not have the appropriate permissions to access the item.

[2022-11-23 04:18] silversword411 opened #154 "Google Drive package broken"
## Current Behavior
When trying to run an update from 62.0.1.0

[code]

## Possible Solution
Not sure how to adjust the uninstall before upgrade flag, I'll be watching the repo for how this is fixed for future work

[2022-11-26 11:17] roysubs commented on #124
I get these errors also in Windows Sandbox. This is not dependency bloat. In fact, almost every UWP app requires VClibs or similar, so for completeness, those dependencies should be checked on for every chocolatey UWP package.

If it serves as impetus to get chocolatey packages moving on this (and if it helps @kfsone and others with your automation work), I would note that the `scoop` package mana